<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
    Example
    </h3>
    <span>
      We rocks !!!
    </span>
    <p>
     <b> "Don't Believe Everything You Read On The Internet"</b> <br/><i>Abraham Lincoln (712 AC)</i>
    </p>
    <p>
      <B>"Ignorance leads to fear, fear leads to hatred and hatred leads to violence."</B><br/><i>Averroes</i>
    </p>

  </section>

</div>